# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
.env

# --- Retak.id Specific ---

# Data (Raw images are huge, don't commit)
backend/data/raw/
backend/data/processed/
backend/data/splits/

# Models & Weights
backend/models/checkpoints/
backend/models/*.h5
backend/models/*.tflite
backend/models/*.keras
backend/models/*.pb

# Logs & Visualization
backend/logs/

# --- Tools & OS ---
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
test_ddgs.py
